.nav {
  background-color: rgba($color-prime-1, 0.68);
  width: 72vw;
  display: block;
  padding: 1.2rem 1.8rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 3rem;

  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 5;

  & a {
    background: transparent;
    padding: 0.35rem;
    font-size: 2.5rem;
    display: flex;
    &:hover {
      background-color: rgba($color-secondary, 1);
      border-radius: 50%;
    }
    &:active {
      background: rgba($color-prime-2, 0.8);
    }
  }
  visibility: hidden;
  @media only screen and (max-width: $bp-800px) {
    visibility: visible;
  }
}
